$background: #6c5f3d;
$blue: #add8e6;
$green: #90ee90;
$yellow: #ead98b;
$pink: #ffb7c1;
$red: #fc7238;
$almond: #d2b29b;

body {
    background-color: $background;
}

.content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-spacing: 30px;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: $blue;
}

.contentTD {
    padding: 10px;
}

.contentTR {
    background-color: $almond;
}

.contentTable {
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}

.countrySearch {
    width: 25%;
    display: block;
    margin: 0 auto;
}

.inputArea {
    background-color: $yellow;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}

.sortA, .sortD {
	box-shadow: 0px 0px 0px 0px $yellow;
	background:linear-gradient(to bottom, $green 5%, $green 100%);
	background-color: $green;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-weight:bold;
	padding:5px 60px;
    margin: 25px;
	text-decoration:none;
	text-shadow:0px 0px 0px $yellow;
}
.sortA:hover, .sortD:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.sortA:active, #sortD.active {
	position:relative;
	top:1px;
}

.searchBar {
    text-align: center;
}

.sort {
    padding: 2.5px;
    margin: 5px;
}

.sortingArea {
    background-color: $pink;
    display: flex;
    justify-content: center;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.tableHeading {
    background-color: $red;
    padding: 15px;
    margin: 15px;
}