$background: #623b5a;
$clipboard: #9A7B4F;
$steel: #caccce;
$paper: #ffffff;
$lines: blue;

body {
    background-color: $background;
}

.clipboard {
    background-color: $clipboard;
    border-radius: 25px;
}

.content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-spacing: 30px;
    border-collapse: collapse;
}

.contentTD {
    padding: 10px;
}

.contentTR {
    background-color: $paper;
    border: 1px solid $lines;
}

.contentTable {
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}

.countrySearch {
    width: 25%;
    display: block;
    margin: 0 auto;
}

.hidden {
    color: white;
    background-color: white;
    padding: 15px;
    margin: 15px;
    border-bottom: 1px solid $lines;
    border-left: 1px solid $lines;
    border-right: 1px solid red;
}
.inputArea {
    background-color: $clipboard;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}

.redLine {
    border-right: 1px solid red;
}

.sortA, .sortD {
	box-shadow: 0px 0px 0px 0px $steel;
	background:linear-gradient(to bottom, $steel 5%, $steel 100%);
	background-color: $steel;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-weight:bold;
	padding:5px 60px;
    margin: 25px;
	text-decoration:none;
	text-shadow:0px 0px 0px $steel;
}
.sortA:hover, .sortD:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.sortA:active, #sortD.active {
	position:relative;
	top:1px;
}

.searchBar {
    text-align: center;
}

.sort {
    padding: 2.5px;
    margin: 5px;
}

.sortingArea {
    display: flex;
    justify-content: center;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.tableHeading {
    line-height: 120px;
    font-size: 36px;
    vertical-align: text-bottom;
    background-color: $paper;
    border-right: 1px solid $lines;
}